.admin-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

th, td {
    padding-left: 2rem;
    padding-right: 2rem;
}

td {
    font-weight: 300;
}

#admin-post-img {
    width: 17rem;
}

.admin-profile-picture {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.modal-dialog-expanded {
    width: 90%;
    max-width: 1200px; /* Set the maximum width if needed */
    height: 90%;
    max-height: 800px; /* Set the maximum height if needed */
    
  }
  

.modal-body-update {
    display: flex;
    column-gap: 2rem;
    padding: 2rem;
}

.update-user {
    background-color: #f1f1f1;
    width: 100%;
    padding: 2rem;
}

.user-update-modal-form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 1rem;
}