.lp-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 9rem;
    margin-top: 10rem;
}

.landing-container {
    display: flex;
    flex-direction: column;
}

#landing-h1 {
    font-weight: 900;
    font-size: 70px;
}

span {
    color: #0E4C94;
}

.user-buttons {
    margin: 2rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 25rem;
}

#login-btn {
    background-color: #0E4C94;
    color: #F1F1F1;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 0.7rem;
    width: 100%;
    cursor: pointer;
}

#login-btn:hover {
    background-color: #05274d;
    transition: 0.2s ease-in;
}

#register-btn {
    box-sizing: border-box;
    background-color: #F1F1F1;
    border: 1px solid #0E4C94;
    color: #0E4C94;
    font-weight: 700;
    border-radius: 5px;
    padding: 0.7rem;
    width: 100%;
    cursor: pointer;
}

#register-btn:hover {
    background-color: #ffffff;
    transition: 0.2s ease-in;
}