.lg-container {
    display: flex;
    flex-direction: row;
    column-gap: 15rem;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
}

.login-title {
    text-align: center;
}

.login-body {
    width: 20rem
}

.form-group {
    border-radius: 10px;
    width: 100%;
    
}

#lgn-btn {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: #0E4C94;
    color: #f1f1f1;
    font-weight: bold;
    cursor: pointer;
}

#lgn-btn:hover {
    background-color: #0b305a;
    transition: 0.2s ease-in;
}

.alert {
    margin: 1rem 0rem 1rem 0rem;
}