.profile-container {
  display: flex;
  justify-content: center;
}

.profile-left {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-left: 20px;
}

#profile-dp {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.profile-card {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    padding: 4rem;
    border-radius: 10px;
}

.ff-section {
    display: flex;
    column-gap: 1rem;
}

.btn-primary {
    width: 100%;
    padding: 0.7rem;
}

.post-user-details {
    display: flex;
    align-items: center;
}

#profile-picture {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .post-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    width: 80%;
    padding: 20px;
  }
  
  .post-title {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .post-content {
    margin-bottom: 10px;
  }
  
  .post-content p {
    margin-bottom: 10px;
  }
  
  .post-image {
    width: 100%;
    height: auto;
  }
  
  .post-video {
    width: 100%;
    height: auto;
  }
  
  .post-date {
    font-size: 12px;
    color: #888;
  }
  